* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: #eee;
}

.link {
  color: #000;
}

.link:visited {
  color: #64410e;
}

.link:hover {
  color: #53524f;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}


/* Mis clases */

.content-search input {
  border: none;
  outline: none;
  margin-left: 5px;
  width: 90%;
}

.content-input {
  padding: 8px;
  border-radius: 5px;
  background-color: #fff;
}

.header .container{
  background-color: #F5A623;
}

.brand {
  width: 90%;
  display: inline-block;
}

.title {
  text-align: center;
  padding: 12px;
  color: #fff;
  font-size: 24px;
}

.map {
  width: 100%;
}

.container {
  height: 100%;
  max-width: 600px;
  min-width: 450px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
}

.loader-brand {
  background-color: #2f2f2f;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.back {
  color: #fff;
  font-size: 20px;
  margin-left: 14px;
}

.button {
  padding: 6px;
  border-radius: 5px;
}

.card-restaurant {
  border: 1px solid #bcbcbc;
  padding: 15px;
  margin-top: 15px;
  cursor: pointer;
  box-shadow: 2px 2px 8px grey;
}

.photo-restaurant {
  width: 39%;
  background-image: url(../assets/images/rest-charapito.jpg);
  height: 140px;
  background-position: bottom;
}

.photo-restaurant img {
  width: 80px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#entry,
#main-course {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);
  overflow: hidden;
  position: relative;
  width: 49%;
  cursor: pointer;
  margin-top: 10px;
}

figure img {
  border-radius: 5px;
  height: 100%;
  transition: all .23s ease;
  width: 100%;
}

.image figcaption {
  color: #fff;
  height: 100%;
  left: 0;
  line-height: 170px;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all .23s ease;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.315);
}

.image figcaption {
  opacity: 0;
  visibility: hidden;
}

.image:hover>figcaption {
  opacity: 5;
  visibility: visible;
  font-weight: 700;
}

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.modal img {
  width: 90%;
  display: block;
  margin: auto;
}

.content-modal {
  border: 1px solid #fff;
  width: 300px;
  height: 400px;
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.subtitle {
  margin: 15px;
  color: #F5A623;
}

.btn {
  background-color: #F5A623;
  padding: 9px;
  box-shadow: 2px 2px 8px grey;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
  display: block;
}

.y-center {
  justify-content: center
}