<!-- Preloader Start -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <main>
    <section class="header">
      <div class="container">
        <div class="content-title">
          <a href="list-map.html" class="back">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </a>
          <div class="brand">
            <h1 class="title">Foodmap</h1>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="content-text">
          <div class="show">
            <a href="">Restaurant Chicharronería el Charapito</a>
          </div>
        </div>
        <div id="content-card">
          <h3>Entradas</h3>
          <div id="food">
            
          </div>

        </div>
        <div>
          <h3>Platos</h3>
          <div id="main-course">

          </div>
        </div>
      </div>
      </div>
    </section>
  </main>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="../js/data.js"></script>
  <script src="../js/showData.js"></script>
</body>

</html>
<!-- You can place all the content of your site here-->